.header {
  padding-top: 16px;
  padding-bottom: 16px;

  // desktop
  @media screen and (min-width: 1200px) {
    border-bottom: 1px solid #ececec;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo-header {
  //tablet
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
